<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" prefixLanguageFilePath="" path="/err.php?errid=401" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/err.php?errid=403" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/err.php?errid=404" responseMode="ExecuteURL" />
            <error statusCode="405" prefixLanguageFilePath="" path="/err.php?errid=405" responseMode="ExecuteURL" />
            <error statusCode="406" prefixLanguageFilePath="" path="/err.php?errid=406" responseMode="ExecuteURL" />
            <error statusCode="412" prefixLanguageFilePath="" path="/err.php?errid=412" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/err.php?errid=500" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/err.php?errid=501" responseMode="ExecuteURL" />
            <error statusCode="502" prefixLanguageFilePath="" path="/err.php?errid=502" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
